# ==============================
# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files (penting!)
.env
.env.*.local
*.local

# Output directories
dist/
*.dist

# Vercel & Netlify (kalau deploy ke situ)
.vercel/
.netlify/

# macOS junk
.DS_Store

# Windows junk
Thumbs.db

# VSCode
.vscode/*
!.vscode/extensions.json

# JetBrains / WebStorm / PhpStorm
.idea/

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln

# VS Code Workspace Storage
*.code-workspace

# Others
*.sw?

# ==============================
